.container{
    background-color: red;
    height: 700px;
    width: 480px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}



.dados{
    background-color: blue;
    width: 500px;
    float: right;
    margin-right: -150px;
  
}

.escolaridade{
    
    background-color: green;
    display: inline-block;
    height: 350px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

.escolaridade h1, h2, p{
   
        vertical-align: middle;


}

.empregos{
    
    background-color: yellow;
    display: inline-block;
    height: 350px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

.empregos h1, h2, p{
   
    vertical-align: middle;


}
